body{
    background-color: #030303;
    color: rgb(0, 0, 0);
    font: 1em sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    height: auto;
    font-family: 'roboto-c';
    text-align: center;
}

@font-face {
    font-family: 'roboto-c';
    src: url("/src/assets/fnt/impact.ttf");
}
  
canvas{
    width: auto;
    height: 100%;
    margin: auto;
}

/*--------------------------------------------*/
@media (orientation: landscape) {
    canvas {
            width: auto;
            height: 100%;
        }
}

/*--------------------------------------------*/
@media (orientation: portrait) {
    canvas {
            width: auto;
            height: 100%;
        }

   
}